<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Shannon Fitness | Blog</title>
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <!-- FAVICONS -->
    <link rel="icon" href="assets/img/fav.png" type="image/png" sizes="16x16">
</head>

    <body>

    <!-- Pre Loader Area start -->
    <div id="preloader">
      <div class="preloader-window left-window"></div>
      <div class="preloader-window right-window"></div>
      <div class="spinner-block">
        <div class="spinner-eff spinner-eff-3">
          <div class="circle circle-1"></div>
          <div class="circle circle-2"></div>
          <div class="circle circle-3"></div>
        </div>
      </div>
    </div>
    <!-- Pre Loader Area End -->

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top d-none d-sm-none d-md-block d-lg-block d-xl-block" id="mainNav">
          <div class="container">
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fas fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
              <a class="top-header-logo-wrap" href="index.html">
                <img src="assets/img/shannon.svg" alt="Shannon Fitness">
              </a>
                  <ul class="navbar-nav text-uppercase ml-auto">
                      <li class="nav-item">
                          <a class="nav-link" href="index.html">Home</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="about-us.html">About Us</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="team.html">Team</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="packages.html">Packages</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="gallery.html">Gallery</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link active" href="blog.html">Blog</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="contact-us.html">Contact Us</a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
    <!-- Navigation -->

    <!-- Mobile Menu Start -->
    <nav class="mobile_menu hidden d-none">
      <a href="index.html">
        <img class="mobile-logo" src="assets/img/shannon.svg" alt="Shannon Fitness">
      </a>
      <ul class="nav navbar-nav navbar-right menu">
        <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="about-us.html">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="team.html">Team</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="packages.html">Packages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="gallery.html">Gallery</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="blog.html">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="contact-us.html">Contact Us</a>
        </li>
      </ul>
    </nav>
    <!-- Mobile Menu End -->

    <!-- Header Start -->
    <header class="page-banner-area page-title-banner">
          <div class="section-overlay d-flex">
              <div class="container">
                  <div class="header-caption text-left">
                      <h1 class="header-caption-heading text-capitalize wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">Blog Single</h1>
                      <nav aria-label="breadcrumb">
                          <ol class="breadcrumb wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">
                              <li class="breadcrumb-item text-capitalize"><a href="index.html">Home</a></li>
                              <li class="breadcrumb-item active text-capitalize" aria-current="page">Single Blog</li>
                          </ol>
                      </nav>
                  </div>
              </div>
          </div>
    </header>
    <!-- Header End -->

    <!-- Single Blog Details Page Area Start -->
    <section class="blog-page-area">
        <div class="container">
            <!-- Row Start-->
            <div class="row">
                <!-- Single Blog Details -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-9">
                    <div id="content">

                    <!-- Block 1-->
                        <div class="block-1">
                            <div class="card">
                                <img src="assets/img/blog-img/single-blog-details-img.jpg" alt="Blog Img">
                                <div class="card-footer d-flex">
                                    <div class="card-footer-box d-flex">
                                        <div class="author-box">
                                            <span>
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                                By Admin
                                            </span>
                                        </div>
                                        <div class="blog-date"><i class="far fa-calendar-alt"></i> 06 Sep, 2019</div>
                                        <div class="card-footer-share">
                                            <i class="far fa-comments"></i>07 Comments
                                        </div>
                                        <div class="card-footer-share">
                                            <i class="far fa-thumbs-up"></i>30
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h2 class="card-title">
                                        Today  is the Best Day to StartTraining
                                    </h2>
                                </div>
                            </div>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem den aperiam, eaque ipsa quae
                                ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt.</p>

                            <div class="blog-content-media">

                                <div class="blog-media-box d-inline-flex justify-content-center align-items-center position-relative">
                                    <img src="assets/img/blog-img/block-2-1.jpg" alt="blog">

                                    <!-- Button trigger Video -->
                                    <a class="video-btn venobox" data-vbtype="video" data-autoplay="true" href="https://www.youtube.com/embed/u61QWKYgbxI">
                                        <i class="fas fa-play"></i>
                                    </a>
                                </div>

                                <div class="blog-media-box d-inline-flex justify-content-center align-items-center position-relative">
                                    <img src="assets/img/blog-img/block-2-2.jpg" alt="blog">
                                </div>

                            </div>

                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                            Neque porro quisquam est, qui dolorem ipsum quia. sed quia ipsum den consequuntur magni dolores eos.</p>

                            <p>Dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

                            <p>Corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
                            qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>

                        </div>
                    <!-- Block 1-->

                    <!-- Block 2-->
                        <div class="block-2">
                            <div class="share-article d-flex justify-content-between">
                                <div class="share-box para-color"><button><i class="fas fa-share-alt"></i> <span>Share this article</span></button></div>
                            </div>
                        </div>
                    <!-- Block 2-->

                    </div>
                </div>
                  <!-- Single Blog Details -->

                <!-- Single Blog Aside -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-3">
                  <aside class="sidebar gym-widget-area" id="sidebar">
                    <!-- Sidebar Single Widget Start -->
                    <div class="widget widget-recent-posts" id="recent-posts">
                        <h4 class="widget-title color-orange font-w-semi-b position-relative">Recent Posts</h4>
                        <ul>
                            <li><a href="blog-details.html" class="para-color d-flex align-items-center"><figure><img src="assets/img/blog-img/sidebar-recent-posts-1.jpg" alt="recent"></figure><p>Today is the Best Day to  Start the Training<span>July 04, 2019</span></p></a></li>
                            <li><a href="blog-details.html" class="para-color d-flex align-items-center"><figure><img src="assets/img/blog-img/sidebar-recent-posts-2.jpg" alt="recent"></figure><p>Stretching is important! for the<span>July 04, 2019</span></p></a></li>
                            <li><a href="blog-details.html" class="para-color d-flex align-items-center"><figure><img src="assets/img/blog-img/sidebar-recent-posts-3.jpg" alt="recent"></figure><p>Offseason is Finished Now What?<span>July 04, 2019</span></p></a></li>
                        </ul>
                    </div>
                    <!-- Sidebar Single Widget End -->
                  </aside>
                </div>
                <!-- Single Blog Aside  -->
            </div>
            <!-- Row End-->
        </div>
    </section>
    <!-- Single Blog Details Page Area End -->

    <!-- Footer Start -->
    <footer class="footer">
        <!-- Footer Upper Area Start-->
        <div class="footer-upper-area">
            <div class="container">
                <!-- Row Start-->
                <div class="row">

                    <!-- Column Start-->
                    <div class="col-12 col-sm-8 col-md-8 col-lg-4">
                        <div class="footer-about">
                            <div class="footer-logo-wrap">
                              <a href="index.html">
                                <img src="assets/img/shannon.svg" alt="Shannon Fitness">
                              </a>
                            </div>
                            <p>
                              Pellentesque convallis, diam et feugiat volutpat, tellus ligula consequat augue, quis malesuada nisi ante nec metus.
                              Sed id pretium nunc. 
                            </p>
                        </div>
                        <div class="footer-social">
                          <ul>
                              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                          </ul>
                        </div>
                    </div>
                    <!-- Column End-->

                    <!-- Column Start-->
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="footer-widget quick-links">
                            <h4 class="text-uppercase">Quick Links</h4>
                            <div class="row">
                              <div class="col-md-6">
                                <ul>
                                    <li>
                                      <a href="index.html">Home</a>
                                    </li>
                                    <li>
                                      <a href="about-us.html">About Us</a>
                                    </li>
                                    <li>
                                      <a href="team.html">Team</a>
                                    </li>
                                    <li>
                                      <a href="packages.html">Packages</a>
                                    </li>
                                  </ul>
                                </div>
                                <div class="col-md-6">
                                <ul>
                                <li>
                                  <a href="gallery.html">Gallery</a>
                                </li>
                                <li>
                                  <a href="blog.html">Blog</a>
                                </li>
                                <li>
                                  <a href="contact-us.html">Contact Us</a>
                                </li>
                                  </ul>
                                </div>
                              </div>
                        </div>
                    </div>
                    <!-- Column End-->

                    <!-- Column Start-->
                    <div class="col-12 col-sm-8 col-md-8 col-lg-4">
                        <div class="footer-widget footer-recent-posts">
                            <h4 class="text-uppercase">Recent Post</h4>
                            <ul>
                                <li><a href="blog-details.html"><figure><img src="assets/img/footer-img/recent-post1.jpg" alt="recent"></figure><p>Pellentesque convallis, diam et feugiat volutpat, tellus ligula<span>Sep 09, 2019</span></p></a></li>
                                <li><a href="blog-details.html"><figure><img src="assets/img/footer-img/recent-post2.jpg" alt="recent"></figure><p>Praesent vehicula odio ut erat posuere, nec malesuada dolor<span>Sep 06, 2019</span></p></a></li>
                                <li><a href="blog-details.html"><figure><img src="assets/img/footer-img/recent-post3.jpg" alt="recent"></figure><p>Nulla rhoncus condimentum ante, molestie mattis lorem<span>Sep 02, 2019</span></p></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Column End-->
                </div>
                <!-- Row End-->
            </div>
        </div>
        <!--  Footer Upper Area End-->

        <!-- Footer Bottom Area Start-->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="footer-bottom-part">
                            <div class="copyright">
                              <a href="index.html">www.shannonfitness.com</a> &copy; 2020. All Rights Reserved | Made With
                              <i class="fa fa-heart text-danger"></i>
                              by 
                              <a href="https://www.infintor.com/" target="_blank" class="text-blue">Infintor Solutions</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  Footer Bottom Area End-->
    </footer>
    <!-- Footer End -->

    <!--Top Arrow area start-->
    <div class="top-arrow">
        <a href="#" id="scroll" style="display: none;"><i class="fas fa-angle-up"></i></a>
    </div>
    <!--Top Arrow area End-->

    <!--=======================================
          All Jquery Script link
    ===========================================-->

    <!-- Bootstrap core JavaScript -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/jquery/popper.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- ==== Plugin JavaScript ==== -->

    <!-- jQuery owl carousel -->
    <script src="assets/js/owl.carousel.min.js"></script>

    <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!--  Counter Up JavaScript-->
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>

    <!--Parallax Script-->
    <script src="assets/js/TweenMax.min.js"></script>

    <!--VenoBox Script-->
    <script src="assets/js/venobox.min.js"></script>

    <!--WOW JS Script-->
    <script src="assets/js/wow.min.js"></script>

    <!--AOS JS Script-->
    <script src="assets/js/aos.js"></script>

    <!--Paroller JS Script-->
    <script src="assets/js/jquery.paroller.min.js"></script>

    <!--Mean Menu/Mobile Menu Script-->
    <script src="assets/js/jquery.meanmenu.min.js"></script>

    <!-- slick slider js -->
    <script src="assets/js/slick.js"></script>

    <!-- Custom scripts for this template -->
    <script src="assets/js/custom.js"></script>

</body>
</html>