{% include "blog/inc_header.html" %} 
    <!-- Header Start -->
    <header class="page-banner-area page-title-banner">
      <div class="section-overlay d-flex">
          <div class="container">
              <div class="header-caption text-left">
                  <h1 class="header-caption-heading text-capitalize wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">Blog</h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">
                          <li class="breadcrumb-item text-capitalize"><a href="../">Home</a></li>
                          <li class="breadcrumb-item active text-capitalize" aria-current="page">Blog</li>
                      </ol>
                  </nav>
              </div>
          </div>
      </div>
    </header>
    <!-- Header End -->

    <!-- Blog Page Area Start -->
    <section class="blog-page-area">
      <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card blog-item wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".4s">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-6">
                            <div class="blog-thumb-box">
                                <img src="../static/assets/img/blog-img/1.png" alt="Blog Img">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h4 class="card-title"><a href="blog-details.html">Today  is the Best Day to Start Training</a>
                                </h4>
                                <div class="card-footer">
                                    <div class="card-footer-box d-flex">
                                        <div class="author-box">
                                            <span><i class="fa fa-user" aria-hidden="true"></i>By Admin</span>
                                        </div>
                                        <div class="blog-date text-uppercase"><i class="far fa-clock"></i> 06 Sep, 2019</div>
                                    </div>
                                    <div class="card-footer-share text-right">
                                        <button><i class="fas fa-comments"></i></button>
                                        <button><i class="fas fa-share-alt"></i></button>
                                    </div>
                                </div>
                                <p class="blog-short-text">
                                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.... 
                                </p>
                                <div class="read-more-btn-wrap">
                                  <a href="blog-details.html" class="btn-read-more text-capitalize section-button btn btn-effect">     Read More
                                  </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <div class="row">
            <div class="col-md-12">
                <div class="card blog-item wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".4s">
                    <div class="row no-gutters align-items-center flex-row-reverse">
                        <div class="col-md-6">
                            <div class="blog-thumb-box">
                                <img src="../static/assets/img/blog-img/1.png" alt="Blog Img">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h4 class="card-title"><a href="blog-details.html">Today  is the Best Day to Start Training</a>
                                </h4>
                                <div class="card-footer">
                                    <div class="card-footer-box d-flex">
                                        <div class="author-box">
                                            <span><i class="fa fa-user" aria-hidden="true"></i>By Admin</span>
                                        </div>
                                        <div class="blog-date text-uppercase"><i class="far fa-clock"></i> 06 Sep, 2019</div>
                                    </div>
                                    <div class="card-footer-share text-right">
                                        <button><i class="fas fa-comments"></i></button>
                                        <button><i class="fas fa-share-alt"></i></button>
                                    </div>
                                </div>
                                <p class="blog-short-text">
                                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.... 
                                </p>
                                <div class="read-more-btn-wrap">
                                  <a href="blog-details.html" class="btn-read-more text-capitalize section-button btn btn-effect">     Read More
                                  </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <div class="row">
            <div class="col-md-12">
                <div class="card blog-item wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".4s">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-6">
                            <div class="blog-thumb-box">
                                <img src="../static/assets/img/blog-img/1.png" alt="Blog Img">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h4 class="card-title"><a href="blog-details.html">Today  is the Best Day to Start Training</a>
                                </h4>
                                <div class="card-footer">
                                    <div class="card-footer-box d-flex">
                                        <div class="author-box">
                                            <span><i class="fa fa-user" aria-hidden="true"></i>By Admin</span>
                                        </div>
                                        <div class="blog-date text-uppercase"><i class="far fa-clock"></i> 06 Sep, 2019</div>
                                    </div>
                                    <div class="card-footer-share text-right">
                                        <button><i class="fas fa-comments"></i></button>
                                        <button><i class="fas fa-share-alt"></i></button>
                                    </div>
                                </div>
                                <p class="blog-short-text">
                                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.... 
                                </p>
                                <div class="read-more-btn-wrap">
                                  <a href="blog-details.html" class="btn-read-more text-capitalize section-button btn btn-effect">     Read More
                                  </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <div class="row">
            <div class="col-md-12">
                <div class="card blog-item wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".4s">
                    <div class="row no-gutters align-items-center flex-row-reverse">
                        <div class="col-md-6">
                            <div class="blog-thumb-box">
                                <img src="../static/assets/img/blog-img/1.png" alt="Blog Img">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h4 class="card-title"><a href="blog-details.html">Today  is the Best Day to Start Training</a>
                                </h4>
                                <div class="card-footer">
                                    <div class="card-footer-box d-flex">
                                        <div class="author-box">
                                            <span>
                                              <i class="fa fa-user" aria-hidden="true"></i>
                                              By Admin
                                            </span>
                                        </div>
                                        <div class="blog-date text-uppercase"><i class="far fa-clock"></i> 06 Sep, 2019</div>
                                    </div>
                                    <div class="card-footer-share text-right">
                                        <button><i class="fas fa-comments"></i></button>
                                        <button><i class="fas fa-share-alt"></i></button>
                                    </div>
                                </div>
                                <p class="blog-short-text">
                                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.... 
                                </p>
                                <div class="read-more-btn-wrap">
                                  <a href="blog-details.html" class="btn-read-more text-capitalize section-button btn btn-effect">     Read More
                                  </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <!-- Blog Pagination Box-->
              <div class="blog-pagination-wrap">
                  <ul class="pagination justify-content-center">
                      <li class="page-item disabled">
                          <a class="page-link" href="#" tabindex="-1">Prev</a>
                      </li>
                      <li class="page-item"><a class="page-link active" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">...</a></li>
                      <li class="page-item"><a class="page-link" href="#">8</a></li>
                      <li class="page-item"><a class="page-link" href="#">9</a></li>
                      <li class="page-item">
                          <a class="page-link" href="#">Next</a>
                      </li>
                  </ul>
              </div>
            <!-- Blog Pagination Box-->
      </div>
        </div>
    </section>
    <!-- Blog Page Area End -->
   {% include "blog/inc_footer.html" %} 
