   {% include "blog/inc_header.html" %} 

    <!-- Header Start -->
    <header class="page-banner-area page-title-banner">
        <div class="section-overlay d-flex">
            <div class="container">
                <div class="header-caption text-left">
                    <h1 class="header-caption-heading text-capitalize wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">Contact</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">
                          <li class="breadcrumb-item text-capitalize"><a href="../">Home</a></li>
                            <li class="breadcrumb-item active text-capitalize" aria-current="page">Contact</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Map Area Start -->
    <section>
    <!--    Map Part Start-->
            <div class="container">
                <div class="contact-part">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="contact-wraper">
                                <div class="contact-heading">
                                    <h2>Do You Have Any Questions?</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula volutpat porta. Cras in vulputate est  consectetur adipiscing elit. Ut vehicula volutpat porta.</p>
                                </div>
                                <div class="contact-form-area">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Your Name:" id="name" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" placeholder="Your Email:" id="user-email" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Subject:" id="subject" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Your Phone:" id="user-phone" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group nessage-text">
                                                    <textarea name="message" rows="3" class="form-control" placeholder="Enter Your Message:" id="message" required></textarea>
                                                </div>
                                                <div class="contact-sub-btn">
                                                    <button  type="button" class="btn btn-effect section-button text-uppercase">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="address-cover-main">
                                <div class="address-box">
                                    <h6><i class="fas fa-map-marker-alt"></i>Address</h6>
                                    <p>2025 M Street, Northwest,
                                        Washington, DC</p>
                                </div>
                                <div class="address-box">
                                    <h6><i class="fas fa-phone"></i>Phone</h6>
                                    <p><a href="tel:+974 5562 5975"> +974 5562 5975</a></p>
                                    <p><a href="tel:+968 9383 6565"> +968 9383 6565</a></p>
                                </div>
                                <div class="address-box">
                                    <h6><i class="fas fa-envelope"></i>Mail</h6>
                                    <p>
                                        <a href="mailto:kadenyi46@gmail.com">kadenyi46@gmail.com</a>
                                    </p>
                                </div>
                                <div class="address-box">
                                    <h6>Follow Us</h6>
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Map Area End -->
   {% include "blog/inc_footer.html" %} 

    