
    <!-- Mobile Menu End -->
{% include "blog/inc_header.html" %} 
    <!-- Header Start -->
    <header class="page-banner-area page-title-banner">
      <div class="section-overlay d-flex">
          <div class="container">
              <div class="header-caption text-left">
                  <h1 class="header-caption-heading text-capitalize wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">Gallery</h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">
                          <li class="breadcrumb-item text-capitalize"><a href="../">Home</a></li>
                          <li class="breadcrumb-item active text-capitalize" aria-current="page">Gallery</li>
                      </ol>
                  </nav>
              </div>
          </div>
      </div>
    </header>
    <!-- Header End -->

    <!--Our Gallery Area Start-->
    <section class="our-gallery-area gallery-2-area">
        <div class="container">
            <!--Our Gallery Button Start-->
            <div class="row mb-5">
                <div class="col-12">
                    <div class="gallery-filter-btn btn-group-toggle justify-content-center d-flex" data-toggle="buttons">
                        <label class="btn btn-sm position-relative active wow fadeIn" data-wow-duration="0.5s" data-wow-delay=".25s">
                            <input type="radio" name="shuffle-filter" value="all" checked="checked" />
                            <i class="fa fa-star"></i>All
                        </label>
                        <label class="btn btn-sm position-relative wow fadeIn" data-wow-duration="0.5s" data-wow-delay=".25s">
                            <input type="radio" name="shuffle-filter" value="image"/>
                            <i class="fa fa-image"></i>Images
                        </label>
                        <label class="btn btn-sm position-relative wow fadeIn" data-wow-duration="0.5s" data-wow-delay=".25s">
                            <input type="radio" name="shuffle-filter" value="video"/>
                            <i class="fa fa-play"></i>Videos
                        </label>
                    </div>
                </div>
            </div>
            <!--Our Gallery Button End-->

            <!--Our Gallery image Start-->
            <div class="row shuffle-wrapper">
                <div class="col-lg-4 col-6 mb-30 shuffle-item wow fadeIn" data-groups="[&quot;image&quot;]" data-wow-duration="0.5s" data-wow-delay=".25s">
                    <div class="position-relative hover-wrapper">
                        <img src="../static/assets/img/gallery-img/gallery-2/6.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
                        <div class="hover-overlay">
                            <div class="hover-content">
                                <a class="btn btn-sm venobox" data-gall="myGallery" href="../static/assets/img/gallery-img/gallery-large-img/6.jpg">
                                    <i class="fa fa-image"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-6 mb-30 shuffle-item wow fadeIn" data-groups="[&quot;image&quot;]" data-wow-duration="0.5s" data-wow-delay=".25s">
                    <div class="position-relative hover-wrapper">
                        <img src="../static/assets/img/gallery-img/gallery-2/2.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
                        <div class="hover-overlay">
                            <div class="hover-content">
                                <a class="btn btn-sm venobox" data-gall="myGallery" href="../static/assets/img/gallery-img/gallery-large-img/2.jpg">
                                    <i class="fa fa-image"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-6 mb-30 shuffle-item wow fadeIn" data-groups="[&quot;image&quot;]" data-wow-duration="0.5s" data-wow-delay=".25s">
                    <div class="position-relative hover-wrapper">
                        <img src="../static/assets/img/gallery-img/gallery-2/2.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
                        <div class="hover-overlay">
                            <div class="hover-content">
                                <a class="btn btn-sm venobox" data-gall="myGallery" href="../static/assets/img/gallery-img/gallery-large-img/2.jpg">
                                    <i class="fa fa-image"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-6 mb-30 shuffle-item wow fadeIn" data-groups="[&quot;image&quot;]" data-wow-duration="0.5s" data-wow-delay=".25s">
                    <div class="position-relative hover-wrapper">
                        <img src="../static/assets/img/gallery-img/gallery-2/2.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
                        <div class="hover-overlay">
                            <div class="hover-content">
                                <a class="btn btn-sm venobox" data-gall="myGallery" href="../static/assets/img/gallery-img/gallery-large-img/2.jpg">
                                    <i class="fa fa-image"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-6 mb-30 shuffle-item wow fadeIn" data-groups="[&quot;video&quot;]" data-wow-duration="0.5s" data-wow-delay=".25s">
                    <div class="position-relative hover-wrapper">
                        <img src="../static/assets/img/gallery-img/gallery-2/2.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
                        <div class="hover-overlay">
                            <div class="hover-content">
                                <a class="btn btn-sm venobox" data-vbtype="video" data-autoplay="true" href="https://www.youtube.com/watch?v=iGc1EEjSXy8">
                                  <i class="fas fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-6 mb-30 shuffle-item wow fadeIn" data-groups="[&quot;video&quot;]" data-wow-duration="0.5s" data-wow-delay=".25s">
                    <div class="position-relative hover-wrapper">
                        <img src="../static/assets/img/gallery-img/gallery-2/6.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
                        <div class="hover-overlay">
                            <div class="hover-content">
                                <a class="btn btn-sm venobox" data-vbtype="video" data-autoplay="true" href="https://www.youtube.com/watch?v=iGc1EEjSXy8">
                                  <i class="fas fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-6 mb-30 shuffle-item wow fadeIn" data-groups="[&quot;video&quot;]" data-wow-duration="0.5s" data-wow-delay=".25s">
                    <div class="position-relative hover-wrapper">
                        <img src="../static/assets/img/gallery-img/gallery-2/6.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
                        <div class="hover-overlay">
                            <div class="hover-content">
                               <a class="btn btn-sm venobox" data-vbtype="video" data-autoplay="true" href="https://www.youtube.com/watch?v=iGc1EEjSXy8">
                                  <i class="fas fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-6 mb-30 shuffle-item wow fadeIn" data-groups="[&quot;video&quot;]" data-wow-duration="0.5s" data-wow-delay=".25s">
                    <div class="position-relative hover-wrapper">
                        <img src="../static/assets/img/gallery-img/gallery-2/6.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
                        <div class="hover-overlay">
                            <div class="hover-content">
                                <a class="btn btn-sm venobox" data-vbtype="video" data-autoplay="true" href="https://www.youtube.com/watch?v=iGc1EEjSXy8">
                                  <i class="fas fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Our Gallery image End-->
        </div>
    </section>
    <!--Our Gallery Area End-->

  {% include "blog/inc_footer.html" %} 
