 <!-- Footer Start -->
    <footer class="footer">
        <!-- Footer Upper Area Start-->
        <div class="footer-upper-area">
            <div class="container">
                <!-- Row Start-->
                <div class="row">

                    <!-- Column Start-->
                    <div class="col-12 col-sm-8 col-md-8 col-lg-4">
                        <div class="footer-about">
                            <div class="footer-logo-wrap">
                              <a href="../">
                                <img src="../static/assets/img/shannon.svg" alt="Shannon Fitness">
                              </a>
                            </div>
                            <p>
                              Pellentesque convallis, diam et feugiat volutpat, tellus ligula consequat augue, quis malesuada nisi ante nec metus.
                              Sed id pretium nunc. 
                            </p>
                        </div>
                        <div class="footer-social">
                          <ul>
                              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                          </ul>
                        </div>
                    </div>
                    <!-- Column End-->

                    <!-- Column Start-->
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="footer-widget quick-links">
                            <h4 class="text-uppercase">Quick Links</h4>
                            <div class="row">
                              <div class="col-md-6">
                                <ul>
                                    <li>
                                      <a href="../">Home</a>
                                    </li>
                                    <li>
                                      <a href="../about">About Us</a>
                                    </li>
                                    <li>
                                      <a href="../team">Team</a>
                                    </li>
                                    <li>
                                      <a href="../packages">Packages</a>
                                    </li>
                                  </ul>
                                </div>
                                <div class="col-md-6">
                                <ul>
                                <li>
                                  <a href="../gallery">Gallery</a>
                                </li>
                                <li>
                                  <a href="../blog">Blog</a>
                                </li>
                                <li>
                                  <a href="../contact">Contact Us</a>
                                </li>
                                  </ul>
                                </div>
                              </div>
                        </div>
                    </div>
                    <!-- Column End-->

                    <!-- Column Start-->
                    <div class="col-12 col-sm-8 col-md-8 col-lg-4">
                        <div class="footer-widget footer-recent-posts">
                            <h4 class="text-uppercase">Recent Post</h4>
                            <ul>
                                <li><a href="blog-details.html"><figure><img src="../static/assets/img/footer-img/recent-post1.jpg" alt="recent"></figure><p>Pellentesque convallis, diam et feugiat volutpat, tellus ligula<span>Sep 09, 2019</span></p></a></li>
                                <li><a href="blog-details.html"><figure><img src="../static/assets/img/footer-img/recent-post2.jpg" alt="recent"></figure><p>Praesent vehicula odio ut erat posuere, nec malesuada dolor<span>Sep 06, 2019</span></p></a></li>
                                <li><a href="blog-details.html"><figure><img src="../static/assets/img/footer-img/recent-post3.jpg" alt="recent"></figure><p>Nulla rhoncus condimentum ante, molestie mattis lorem<span>Sep 02, 2019</span></p></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Column End-->
                </div>
                <!-- Row End-->
            </div>
        </div>
        <!--  Footer Upper Area End-->

        <!-- Footer Bottom Area Start-->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="footer-bottom-part">
                            <div class="copyright">
                              <a href="../">www.shannonfitness.com</a> &copy; 2020. All Rights Reserved | Made With
                              <i class="fa fa-heart text-danger"></i>
                              by 
                              <a href="https://www.infintor.com/" target="_blank" class="text-blue">Infintor Solutions</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  Footer Bottom Area End-->
    </footer>
    <!-- Footer End -->

    <!--Top Arrow area start-->
    <div class="top-arrow">
        <a href="#" id="scroll" style="display: none;"><i class="fas fa-angle-up"></i></a>
    </div>
    <!--Top Arrow area End-->

    <!--=======================================
          All Jquery Script link
    ===========================================-->

    <!-- Bootstrap core JavaScript -->
    <script src="../static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="../static/assets/vendor/jquery/popper.min.js"></script>
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- ==== Plugin JavaScript ==== -->

    <!-- jQuery owl carousel -->
    <script src="../static/assets/js/owl.carousel.min.js"></script>

    <script src="../static/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!--  Counter Up JavaScript-->
    <script src="../static/assets/js/waypoints.min.js"></script>
    <script src="../static/assets/js/jquery.counterup.min.js"></script>

    <!--Parallax Script-->
    <script src="../static/assets/js/TweenMax.min.js"></script>

    <!--VenoBox Script-->
    <script src="../static/assets/js/venobox.min.js"></script>

    <!--WOW JS Script-->
    <script src="../static/assets/js/wow.min.js"></script>

    <!--AOS JS Script-->
    <script src="../static/assets/js/aos.js"></script>

    <!--Paroller JS Script-->
    <script src="../static/assets/js/jquery.paroller.min.js"></script>

    <!--Mean Menu/Mobile Menu Script-->
    <script src="../static/assets/js/jquery.meanmenu.min.js"></script>

    <!-- slick slider js -->
    <script src="../static/assets/js/slick.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/assets/js/custom.js"></script>

</body>
</html>