{% include "blog/inc_header.html" %} 
<header class="home-banner-area">
        <div id="planet-2" class="planet layer-2"></div>
        <div class="container">
          <div class="header-caption text-left">
            <h6 class="text-uppercase wow fadeInUp" data-wow-duration="1.0s" data-wow-delay=".4s">Fitness For Life</h6>
            <h1 class="header-caption-heading cd-headline clip is-full-width wow fadeInUp" data-wow-duration="1.10s" data-wow-delay=".4s">Be Ready For Focus Your
                <span id="typed-strings">
                    <b>Passion</b>
                    <b>Power</b>
                    <b>Purpose</b>
                </span>
                <span id="typed"></span>
            </h1>

            <p class="wow fadeInUp" data-wow-duration="1.0s" data-wow-delay=".4s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod tempor invidunt ut labore et dolore magna tempor invidunt ut </p>
              <div class="header-button-wrap">
                  <a class="btn section-button btn-effect" href="packages.html">Get Started</a>
              </div>
          </div>
        </div>
    </header>
    <!-- Header End -->

 <!-- Choose Your Programme Area Start -->
    <section class="choose-program-area">
        <div class="container">
              <div class="row">
                <div class="col-sm-12 text-center">
                  <h2 class="section-heading">Our Best Features</h2>
                  <img class="heading-divider" src="../static/assets/img/divider.png" alt="divider">
                  <h3 class="section-subheading wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".1s">Aliquam erat volutpat. Curabitur tempor nibh quis arcu convallis, sed viverra quam sollicitudin. Proin sed augue sed neque ultricies condimentum. </h3>
                </div>
              </div>
              <div class="row">

              <!-- single program start-->
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="single-program wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".1s">
                      <span class="program-icon">
                        <i class="flaticon-clipboard"></i>
                      </span>
                      <h4 class="programme-heading">Fitness Training</h4>
                      <p>Integer iaculis nec ipsum nec imperdiet. Duis posuere, quam id porttitor accumsan, lacus lorem </p>
                    </div>
                </div>
              <!-- single program end-->


              <!-- single program start-->
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="single-program wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
                      <span class="program-icon">
                          <i class="flaticon-group-of-men-running"></i>
                      </span>
                      <h4 class="programme-heading">Group Fitness</h4>
                      <p>Integer iaculis nec ipsum nec imperdiet. Duis posuere, quam id porttitor accumsan, lacus lorem </p>
                    </div>
                </div>
              <!-- single program end-->


              <!-- single program start-->
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="single-program wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".3s">
                      <span class="program-icon">
                        <i class="flaticon-weightlifting"></i>
                      </span>
                      <h4 class="programme-heading">Personal Trainer</h4>
                      <p>Integer iaculis nec ipsum nec imperdiet. Duis posuere, quam id porttitor accumsan, lacus lorem </p>
                    </div>
                </div>
              <!-- single program end-->


              <!-- single program start-->
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="single-program wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".4s">
                      <span class="program-icon">
                        <i class="flaticon-exercise"></i>
                      </span>
                      <h4 class="programme-heading">Cardio Program</h4>
                      <p>Integer iaculis nec ipsum nec imperdiet. Duis posuere, quam id porttitor accumsan, lacus lorem </p>
                    </div>
                </div>
              <!-- single program end-->

              </div>
        </div>
    </section>
    <!-- Choose Your Programme Area End -->

    <!-- About Us Area Start -->
    <section class="about-us-area">
        <div class="container">
            <!-- Row Start-->
              <div class="row">
                  <!-- Video Side Start-->
                  <div class="col-12 col-sm-12 col-md-6">
                      <div class="video-side">
                          <img src="../static/assets/img/video-side-bg.png" alt="video bg" class="text-right paroller" >

                      <!-- About Video Button box Start-->
                          <div class="about-video-box" data-aos="fade-right">
                              <!-- Button trigger Video -->
                              <a class="video-btn venobox" data-vbtype="video" data-autoplay="true" href="https://www.youtube.com/watch?v=iGc1EEjSXy8">
                                  <i class="fas fa-play"></i>
                              </a>
                          </div>

                      <!-- About Video Button box End-->

                      </div>
                  </div>
                  <!-- Video Side End-->
                  <!--  Content Side Start-->
                  <div class="col-12 col-sm-12 col-md-6 text-left">
                      <div class="about-content-wrap">
                          <h2 class="section-heading dark">About Shannon</h2>
                          <h3 class="section-subheading dark">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </h3>
                          <h3 class="section-subheading dark">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </h3>
                          <a href="about-us.html" class="text-uppercase section-button btn btn-effect">- Find Out More -</a>
                      </div>
                  </div>
                  <!--  Content Side End-->
              </div>
            <!-- Row End-->

            <!-- Counter Row Start-->
              <div class="row counter-area">

                <!-- Single Counter-->
                <div class="col-sm-3">
                  <div class="about-counter text-center wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".5s">
                    <div class="counter-icon"><i class="flaticon-clock"></i></div>
                    <div class="counter-number"><span class="counter">964</span> + </div>
                    <div class="counter-content">Working Hour</div>
                  </div>
                </div>
                <!-- Single Counter-->

                <!-- Single Counter-->
                <div class="col-sm-3">
                  <div class="about-counter text-center wow fadeInLeft" data-wow-duration="1.3s" data-wow-delay=".5s">
                      <div class="counter-icon"><i class="flaticon-heart"></i></div>
                    <div class="counter-number"><span class="counter">453</span> + </div>
                    <div class="counter-content">Happy Clients</div>
                  </div>
                </div>
                <!-- Single Counter-->

                <!-- Single Counter-->
                <div class="col-sm-3">
                  <div class="about-counter text-center wow fadeInLeft" data-wow-duration="1.4s" data-wow-delay=".6s">
                      <div class="counter-icon"><i class="flaticon-like"></i></div>
                    <div class="counter-number"><span class="counter">764</span> + </div>
                    <div class="counter-content">Success Stories</div>
                  </div>
                </div>
                <!-- Single Counter-->

                <!-- Single Counter-->
                <div class="col-sm-3">
                  <div class="about-counter text-center wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".7s">
                      <div class="counter-icon"><i class="flaticon-gym-1"></i></div>
                    <div class="counter-number"><span class="counter">956</span> + </div>
                    <div class="counter-content">Perfect Bodies</div>
                  </div>
                </div>
                <!-- Single Counter-->
              </div>
            <!-- Counter Row End-->
        </div>
    </section>
    <!-- About Us Area End -->

    <!-- Our Class Schedule Area Start -->
    <section class="class-schedule-area">
      <div class="section-overlay">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2 class="section-heading dark">EXPLORE OUR BEST PRACTICE SESSIONS!</h2>
                      <img class="heading-divider" src="../static/assets/img/divider.png" alt="divider">
                      <h3 class="section-subheading dark wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".1s">
                        Your Personal Training Partner to achieve your training goals.
                      </h3>
                      <a href="packages.html" class="btn section-button btn-effect text-uppercase">
                      - Find Out More -</a>
                  </div>
              </div>
          </div>
      </div>
    </section>
    <!-- Our Class Schedule  Area End -->

    <!-- Our Expert Trainers Area Start -->
    <section class="our-expert-trainers-area">
        <div class="container">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Our Expert Trainers</h2>
                  <img class="heading-divider" src="../static/assets/img/divider.png" alt="divider">
                  <h3 class="section-subheading wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".1s">Aliquam erat volutpat. Curabitur tempor nibh quis arcu convallis, sed viverra quam sollicitudin. Proin sed augue sed neque ultricies condimentum. </h3>
                </div>
              </div>
              <div class="row">
              <!-- single trainer start-->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-trainer wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".4s">
                       <img src="../static/assets/img/expert-trainers-img/1.jpg" alt="Trainer">
                        <div class="single-trainer-visible">
                          <h3>Petter Jone</h3>
                          <span>Strength Trainning</span>
                        </div>
                        <div class="single-trainer-upper">
                            <h5 class="trainer-name">Petter Jone</h5>
                            <p class="trainer-designation">Strength Trainning</p>
                            <div class="trainer-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
              <!-- single trainer end-->

              <!-- single trainer start-->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-trainer wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".4s">
                       <img src="../static/assets/img/expert-trainers-img/7.jpg" alt="Trainer">
                        <div class="single-trainer-visible">
                          <h3>Jannie Cate</h3>
                          <span>Strength Trainning</span>
                        </div>
                        <div class="single-trainer-upper">
                            <h5 class="trainer-name">Jannie Cate</h5>
                            <p class="trainer-designation">Strength Trainning</p>
                            <div class="trainer-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
              <!-- single trainer end-->

              <!-- single trainer start-->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-trainer wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".4s">
                       <img src="../static/assets/img/expert-trainers-img/1.jpg" alt="Trainer">
                        <div class="single-trainer-visible">
                          <h3>Petter Jone</h3>
                          <span>Strength Trainning</span>
                        </div>
                        <div class="single-trainer-upper">
                            <h5 class="trainer-name">Petter Jone</h5>
                            <p class="trainer-designation">Strength Trainning</p>
                            <div class="trainer-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
              <!-- single trainer end-->

              <!-- single trainer start-->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-trainer wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".4s">
                       <img src="../static/assets/img/expert-trainers-img/7.jpg" alt="Trainer">
                        <div class="single-trainer-visible">
                          <h3>Jannie Cate</h3>
                          <span>Strength Trainning</span>
                        </div>
                        <div class="single-trainer-upper">
                            <h5 class="trainer-name">Jannie Cate</h5>
                            <p class="trainer-designation">Strength Trainning</p>
                            <div class="trainer-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
              <!-- single trainer end-->
              </div>
        </div>
    </section>
    <!-- Our Expert Trainers Area End -->

    <!-- Comments From Trainee Area Start -->
    <section class="get-a-membership-area" id="testimonial">
      <div class="section-overlay">
          <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-white">Words From Trainee</h2>
                    <img class="heading-divider" src="../static/assets/img/divider.png" alt="divider">
                </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="row justify-content-center">
                  <div class="col-xs-12 col-md-8 col-lg-5 text-center">
                    <div class="slider slider-nav">
                      <div class="client-thumbnail"> 
                        <img src="../static/assets/img/comments-from-trainee-img/client1.png" alt="Shannon Fitness" class="img-fluid"> 
                      </div>
                      <div class="client-thumbnail"> 
                        <img  src="../static/assets/img/comments-from-trainee-img/client2.png" alt="Shannon Fitness" class="img-fluid"> 
                      </div>
                      <div class="client-thumbnail"> 
                        <img  src="../static/assets/img/comments-from-trainee-img/client1.png" alt="Shannon Fitness" class="img-fluid"> 
                      </div>
                      <div class="client-thumbnail"> 
                        <img  src="../static/assets/img/comments-from-trainee-img/client2.png" alt="Shannon Fitness" class="img-fluid"> 
                      </div>
                      <div class="client-thumbnail"> 
                        <img  src="../static/assets/img/comments-from-trainee-img/client1.png" alt="Shannon Fitness" class="img-fluid"> 
                      </div>
                      <div class="client-thumbnail"> 
                        <img  src="../static/assets/img/comments-from-trainee-img/client1.png" alt="Shannon Fitness" class="img-fluid"> 
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-12 col-md-10 col-lg-8 testimonials_col">
                    <div class="slider slider-for">
                      <div class="client-feedback-text text-center">
                        <div class="client-name text-center">
                          <h5>Jannie Cate</h5>
                          <h6>Student at Shannon Fitness</h6>
                        </div>
                        <div class="testimonials-content">
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        </div>
                      </div>
                      <div class="client-feedback-text text-center">
                        <div class="client-name text-center">
                          <h5>Petter Jone</h5>
                          <h6>Student at Shannon Fitness</h6>
                        </div>
                        <div class="testimonials-content">
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                      </div>
                      <div class="client-feedback-text text-center">
                        <div class="client-name text-center">
                          <h5>Jannie Cate</h5>
                          <h6>Student at Shannon Fitness</h6>
                        </div>
                        <div class="testimonials-content">
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        </div>
                      </div>
                      <div class="client-feedback-text text-center">
                        <div class="client-name text-center">
                          <h5>Petter Jone</h5>
                          <h6>Student at Shannon Fitness</h6>
                        </div>
                        <div class="testimonials-content">
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                      </div>
                      <div class="client-feedback-text text-center">
                        <div class="client-name text-center">
                          <h5>Jannie Cate</h5>
                          <h6>Student at Shannon Fitness</h6>
                        </div>
                        <div class="testimonials-content">
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        </div>
                      </div>
                      <div class="client-feedback-text text-center">
                        <div class="client-name text-center">
                          <h5>Petter Jone</h5>
                          <h6>Student at Shannon Fitness</h6>
                        </div>
                        <div class="testimonials-content">
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>
    <!-- Comments From Trainee Area End -->

    <!-- Our Membership Area Start -->
    <section class="blog-page-area">
      <div class="container">
          <!-- package listing Start-->
            <div class="row">
                <div class="col-sm-12 text-center">
                  <h2 class="section-heading">Private Training</h2>
                  <img class="heading-divider" src="../static/assets/img/divider.png" alt="divider">
                  <h3 class="section-subheading wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".1s">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </h3>
                </div>
            </div>
          <div class="row">
            <div class="col-md-4">
                <div class="package-item-wrap wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".4s">
                    <h3 class="text-uppercase">Single</h3>
                    <ul class="package-items-list">
                        <li>
                            <i class="fas fa-caret-right"></i>
                            One-on-one
                        </li>
                        <li>
                            <i class="fas fa-caret-right"></i>
                            12 sessions 
                        </li>
                        <li>
                            <i class="fas fa-caret-right"></i>
                            1hr Session 3 Times/Week
                        </li>
                        <li>
                            <i class="fas fa-caret-right"></i>
                            Diet & Nutrition Guidance
                        </li>
                        <li>
                            <i class="fas fa-caret-right"></i>
                            Daily Online Support
                        </li>
                        <li>
                            <i class="fas fa-caret-right"></i>
                            Valid for 6 Weeks
                        </li>
                    </ul>
                    <div class="package-btn-wrap">
                        <a href="#get-membership" class="text-capitalize section-button btn btn-effect">Get Now
</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="package-item-wrap wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".4s">
                    <h3 class="text-uppercase">Single</h3>
                    <ul class="package-items-list">
                        <li>
                            <i class="fas fa-caret-right"></i>
                            One-on-one
                        </li>
                        <li>
                            <i class="fas fa-caret-right"></i>
                            12 sessions 
                        </li>
                        <li>
                            <i class="fas fa-caret-right"></i>
                            1hr Session 3 Times/Week
                        </li>
                        <li>
                            <i class="fas fa-caret-right"></i>
                            Diet & Nutrition Guidance
                        </li>
                        <li>
                            <i class="fas fa-caret-right"></i>
                            Daily Online Support
                        </li>
                        <li>
                            <i class="fas fa-caret-right"></i>
                            Valid for 6 Weeks
                        </li>
                    </ul>
                    <div class="package-btn-wrap">
                        <a href="#get-membership" class="text-capitalize section-button btn btn-effect">Get Now
</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="package-item-wrap wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".4s">
                    <h3 class="text-uppercase">Single</h3>
                    <ul class="package-items-list">
                        <li>
                            <i class="fas fa-caret-right"></i>
                            One-on-one
                        </li>
                        <li>
                            <i class="fas fa-caret-right"></i>
                            12 sessions 
                        </li>
                        <li>
                            <i class="fas fa-caret-right"></i>
                            1hr Session 3 Times/Week
                        </li>
                        <li>
                            <i class="fas fa-caret-right"></i>
                            Diet & Nutrition Guidance
                        </li>
                        <li>
                            <i class="fas fa-caret-right"></i>
                            Daily Online Support
                        </li>
                        <li>
                            <i class="fas fa-caret-right"></i>
                            Valid for 6 Weeks
                        </li>
                    </ul>
                    <div class="package-btn-wrap">
                        <a href="#get-membership" class="text-capitalize section-button btn btn-effect">Get Now
</a>
                    </div>
                </div>
            </div>
          </div>
          <!-- package listing End-->

        </div>
    </section>
    <!-- Our Membership Area End -->

    <!-- membership form start -->
    <section class="get-a-membership-area" id="get-membership">
      <div class="section-overlay">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2 class="section-heading dark">Get a Membership</h2>
                  </div>
              </div>

              <div class="row">
                  <!-- Membership Form Area Start-->
                  <div class="col-sm-12">
                      <div class="leave-comment-area get-membership-form">

                          <form action="#">
                              <div class="row">
                                  <div class="col-sm-6">
                                      <div class="form-group para-color font-17">
                                          <label for="cus_name">Full Name <span>*</span></label>
                                          <input type="text" class="form-control" id="cus_name" required>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="form-group para-color font-17">
                                          <label for="cus_email">Email <span>*</span></label>
                                          <input type="email" class="form-control" id="cus_email" required>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="form-group para-color font-17">
                                          <label for="cus_email">Contact <span>*</span></label>
                                          <input type="email" class="form-control" id="cus_email" required>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="form-group para-color font-17">
                                          <label for="cus_email">Subject <span>*</span></label>
                                          <input type="email" class="form-control" id="cus_email" required>
                                      </div>
                                  </div>
                                  <div class="col-sm-12">
                                      <div class="contact-sub-btn text-center">
                                          <button  type="button"  class="btn section-button btn-effect bg-orange text-capitalize">Start Now</button>
                                      </div>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
                  <!-- Membership Form Area End-->
              </div>
          </div>
      </div>
    </section>
    <!-- membership form end -->

    <!-- Footer Start -->
    {% include "blog/inc_footer.html" %} 
