{% include "blog/inc_header.html" %}
    <!-- Navigation -->

    <header class="page-banner-area page-title-banner">
      <div class="section-overlay d-flex">
          <div class="container">
              <div class="header-caption text-left">
                  <h1 class="header-caption-heading text-capitalize wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">Our Trainers</h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">
                          <li class="breadcrumb-item text-capitalize"><a href="../">Home</a></li>
                          <li class="breadcrumb-item active text-capitalize" aria-current="page">Our trainers</li>
                      </ol>
                  </nav>
              </div>
          </div>
      </div>
    </header>
    <!-- Header End -->

    <!-- Our Expert Trainers Area Start -->
    <section class="our-expert-trainers-area">
        <div class="container">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Our Expert Trainers</h2>
                  <img class="heading-divider" src="../static/assets/img/divider.png" alt="divider">
                  <h3 class="section-subheading wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".1s">Aliquam erat volutpat. Curabitur tempor nibh quis arcu convallis, sed viverra quam sollicitudin. Proin sed augue sed neque ultricies condimentum. </h3>
                </div>
              </div>
              <div class="row">
              <!-- single trainer start-->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-trainer wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".4s">
                       <img src="../static/assets/img/expert-trainers-img/1.jpg" alt="Trainer">
                        <div class="single-trainer-visible">
                          <h3>Petter Jone</h3>
                          <span>Strength Trainning</span>
                        </div>
                        <div class="single-trainer-upper">
                            <h5 class="trainer-name">Petter Jone</h5>
                            <p class="trainer-designation">Strength Trainning</p>
                            <div class="trainer-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
              <!-- single trainer end-->

              <!-- single trainer start-->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-trainer wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".4s">
                       <img src="../static/assets/img/expert-trainers-img/7.jpg" alt="Trainer">
                        <div class="single-trainer-visible">
                          <h3>Jannie Cate</h3>
                          <span>Strength Trainning</span>
                        </div>
                        <div class="single-trainer-upper">
                            <h5 class="trainer-name">Jannie Cate</h5>
                            <p class="trainer-designation">Strength Trainning</p>
                            <div class="trainer-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
              <!-- single trainer end-->

              <!-- single trainer start-->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-trainer wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".4s">
                       <img src="../static/assets/img/expert-trainers-img/1.jpg" alt="Trainer">
                        <div class="single-trainer-visible">
                          <h3>Petter Jone</h3>
                          <span>Strength Trainning</span>
                        </div>
                        <div class="single-trainer-upper">
                            <h5 class="trainer-name">Petter Jone</h5>
                            <p class="trainer-designation">Strength Trainning</p>
                            <div class="trainer-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
              <!-- single trainer end-->

              <!-- single trainer start-->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-trainer wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".4s">
                       <img src="../static/assets/img/expert-trainers-img/7.jpg" alt="Trainer">
                        <div class="single-trainer-visible">
                          <h3>Jannie Cate</h3>
                          <span>Strength Trainning</span>
                        </div>
                        <div class="single-trainer-upper">
                            <h5 class="trainer-name">Jannie Cate</h5>
                            <p class="trainer-designation">Strength Trainning</p>
                            <div class="trainer-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
              <!-- single trainer end-->
              
              <!-- single trainer start-->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-trainer wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".4s">
                       <img src="../static/assets/img/expert-trainers-img/7.jpg" alt="Trainer">
                        <div class="single-trainer-visible">
                          <h3>Jannie Cate</h3>
                          <span>Strength Trainning</span>
                        </div>
                        <div class="single-trainer-upper">
                            <h5 class="trainer-name">Jannie Cate</h5>
                            <p class="trainer-designation">Strength Trainning</p>
                            <div class="trainer-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
              <!-- single trainer end-->

              <!-- single trainer start-->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-trainer wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".4s">
                       <img src="../static/assets/img/expert-trainers-img/1.jpg" alt="Trainer">
                        <div class="single-trainer-visible">
                          <h3>Petter Jone</h3>
                          <span>Strength Trainning</span>
                        </div>
                        <div class="single-trainer-upper">
                            <h5 class="trainer-name">Petter Jone</h5>
                            <p class="trainer-designation">Strength Trainning</p>
                            <div class="trainer-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
              <!-- single trainer end-->

              <!-- single trainer start-->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-trainer wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".4s">
                       <img src="../static/assets/img/expert-trainers-img/7.jpg" alt="Trainer">
                        <div class="single-trainer-visible">
                          <h3>Jannie Cate</h3>
                          <span>Strength Trainning</span>
                        </div>
                        <div class="single-trainer-upper">
                            <h5 class="trainer-name">Jannie Cate</h5>
                            <p class="trainer-designation">Strength Trainning</p>
                            <div class="trainer-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
              <!-- single trainer end-->

              <!-- single trainer start-->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-trainer wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".4s">
                       <img src="../static/assets/img/expert-trainers-img/1.jpg" alt="Trainer">
                        <div class="single-trainer-visible">
                          <h3>Petter Jone</h3>
                          <span>Strength Trainning</span>
                        </div>
                        <div class="single-trainer-upper">
                            <h5 class="trainer-name">Petter Jone</h5>
                            <p class="trainer-designation">Strength Trainning</p>
                            <div class="trainer-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
              <!-- single trainer end-->
              </div>
        </div>
    </section>
    <!-- Our Expert Trainers Area End -->

    <!-- Call To Action Area Start -->
    <section class="call-to-action-area">

        <!-- We Are Ready To Area-->
        <div class="we-are-ready position-relative">
            <div class="section-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="we-are-ready-content">
                                <h2>We Are  Ready to Help You To Get Perfect Fitness!</h2>
                                <p>Aliquam erat volutpat. Curabitur tempor nibh quis arcu convallis, sed viverra quam sollicitudin. Proin sed augue sed neque ultricies condimentum. </p>
                                <div><a href="pricing-table.html" class="btn btn-effect section-button text-uppercase">Join Now</a></div>
                                <img class="we-are-ready-floating-img position-absolute paroller" src="../static/assets/img/about-img/call-to-action-float-img.png" alt="img" data-paroller-factor="-0.1" data-paroller-type="foreground" data-paroller-direction="horizontal">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- We Are Ready To Area-->

        <!-- Membership Offer Area-->
        <div class="membership-offer-area d-flex">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="membership-offer-content">
                            <div class="membership-offer-left">
                                <h3>Membership offer</h3>
                                <p>Up t0 2 month free <span>$320/</span> month family Membership</p>
                            </div>
                            <div class="membership-offer-right">
                                <a href="contact.html" class="btn btn-effect section-button text-uppercase">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Membership Offer Area-->

    </section>
    <!-- Call To Action Area End -->

  {% include "blog/inc_footer.html" %} 
